1. Crea una tupla con tres elementos y imprime por pantalla cada uno de ellos en una 
nueva linea.
 2. Crea una lista con tres elementos e intenta modificarla. Haz lo mismo con la tupla. 
¿Cuáles son las diferencias?
 3. Crea una tupla de enteros y devuelve la suma de los elementos.
 4. Crea un script que dada una tupla que contiene strings cree una nueva tupla con el 
primer caracter de cada string.
 5. Crea un script que dada una tupla de números devuelva el producto de todos los 
números pares.

In [4]:
tupla1=(1,2,3)
for valor in tupla1:
    print(valor)

1
2
3

In [5]:
print(sum(tupla1))

6

In [9]:
tupla2=('Fantastic','rudo','asombroso','nestor')
cadena=''
for valor in tupla2:
    cadena=cadena+valor[0]
print(tuple(cadena))

('F', 'r', 'a', 'n')

In [11]:
tupla3=(1,2,3,4,5,6,7,8,9)
producto=1
for numero in tupla3:
    if (numero%2==0):
        producto*=numero
producto

384

6. Crea un script que dada una tupla de números, devuelva la tupla con los numeros 
ordeandos en orden descendente.
 7. Crea un script que dada una tupla con números enteros repetidos, elimine los 
duplicados. (Puedes usar sets).
 8. Crea un script que dada una tupla y un numero entero, devuelve verdadero si el 
numero se encuentra en la tupla y falso en el caso contrario.
 9. Crea un script que dadas dos tuplas cree una tupla resultante de la union de ambas.
 10. Crea un script que dada una tupla de números devuelva e máximo y el mínimo.

In [12]:
tuplaRevertida=tuple(reversed(tupla3))
tuplaRevertida

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [13]:
tuplaDuplicados=(1,1,1,2,2,3,3,3,3,3,7,7,7,7)
tuplaSinDuplicados=tuple(set(tuplaDuplicados))
tuplaSinDuplicados

(1, 2, 3, 7)

In [15]:
numero=99
print(tupla3.__contains__(numero))

False

In [16]:
print(tupla3.__add__(tuplaRevertida))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1)

11. Crea un script que dada una tupla con strings devuelva el string más largo y el más 
corto. (Prueba añadiendo key=len a las funciones max y min).
 12. Crea un script que dada una tupla devuelva el contenido en orden revertido.
 13. Crea un script que dada una tupla de tuplas, donde cada tupla interna contiene dos 
elementos, devuelva una nueva tupla en la que cada elemento sea la suma de los dos 
elementos de la tupla interna correspondiente.

In [20]:
print(max(tupla2,key=len))
print(min(tupla2,key=len))

Fantastic
rudo

In [21]:
tupladoble=((1,2),(2,4),(5,6))
listaSuma=[]
for elemento in tupladoble:
    listaSuma.append(sum(elemento))
print(tuple(listaSuma))

(3, 6, 11)

In [22]:
tuplasencilla=tuple(map(lambda x: sum(x),tupladoble))
tuplasencilla

(3, 6, 11)

14.Crea un set y elimina uno de sus elementos.
 15.Crea un set vacío.
 16.Crea dos sets y encuentra su union, su intersección y su diferencia.
 17.Crea un script que dados dos sets cree uno nuevo que contenga solo los elementos 
comunes de ambos.
 18.Crea un script que dado un set con números devuelva el numero máximo y mínimo.
 19.Crea un script que dados dos sets cree uno nuevo solo con los elementos únicos de 
cada uno de los sets.
 20.Crea un set con colores y comprueba si cierto color se encuentra en el set.
 21.Crea un script que dados dos sets cree un nuevo set con los elementos que están en 
el primer set pero no en el segundo.
 22.Crea un script que dado un set de enteros devuelva el producto de todos los números 
dentro del set.

In [25]:
s1={1,2,3,4,5,6,7}
s1.discard(7)
s2=set()
type(s2)

set

In [27]:
s3={5,6,7,8,9,10}
print(s1.union(s3))
print(s1.intersection(s3))
print(s1.difference(s3))
print(s1.symmetric_difference(s3))
print(max(s1),min(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6}
{1, 2, 3, 4}
{1, 2, 3, 4, 7, 8, 9, 10}
6 1

In [29]:
sColores={'red','green','blue','purple'}
print(sColores.__contains__('yellow'))

False

In [32]:
from functools import reduce
producto=reduce(lambda acc, x: acc*x,s1,1)
producto

720

Una red social tiene una base de datos de usuarios y sus correspondientes amistades. 
Crea un programa que tome una base de datos de una red social como una lista de 
tuplas, donde cada tupla contiene el nombre del usuario y una lista de sus amigos. Los 
nombres repetidos en la lista de amigos corresponden a usuarios con varias cuentas 
diferentes. Deberas eliminar las cuentas duplicadas y después  devolver una tupla de 
tuplas que contiene el número real de amigos por usuario y el usuario con más amigos.
 Pista 1: Tus datos de entrada podrían ser así  —>  red_social = [("Juan", ["Maria", "Pedro", 
"Luis"]), ("Maria", ["Juan", “Pedro”,”Juan”]), ("Pedro", ["Juan", "Maria"]), ("Luis", [“Juan”])] 
Pista 2: Para eliminar duplicidades puedes usar sets

In [1]:
red_social = [("Juan", ["Maria", "Pedro", "Luis"]), ("Maria", ["Juan", "Pedro","Juan"]), ("Pedro", ["Juan", "Maria"]), ("Luis", ["Juan"])]

In [3]:
red_social_sin_duplicados =[]
numero_amigos=0
usuarioMasAmigos={}
for usuario, amigos in red_social:
    amigos_unicos = tuple(set(amigos))
    if len(amigos_unicos)>numero_amigos:
        numero_amigos=len(amigos_unicos)
        usuarioMasAmigos[usuario]=numero_amigos
    red_social_sin_duplicados.append((usuario, amigos_unicos))
print(red_social_sin_duplicados)
print(usuarioMasAmigos)

[('Juan', ('Maria', 'Pedro', 'Luis')), ('Maria', ('Juan', 'Pedro')), ('Pedro', ('Juan', 'Maria')), ('Luis', ('Juan',))]
{'Juan': 3}

Una biblioteca tiene una lista de libros y sus autores. Crea un programa que tome la lista 
de libros y sus autores como una lista de tuplas, donde cada tupla contiene el título del 
libro y el nombre del autor, y devuelva una nueva lista de tuplas que contenga el título del 
libro y el apellido del autor.
 Pista: Tus datos de entrada podrían ser así  —> lista_libros = [(‘El aleph', ‘Jorge Luis 
Borges'), ('Cien años de soledad', ‘Garbriel Garcia Márquez'), ('La ciudad y los perros', 
‘Mario Vargas Llosa')]

In [4]:
lista_libros = [('El aleph', 'Jorge Luis Borges'), ('Cien años de soledad', 'Garbriel Garcia Márquez'), ('La ciudad y los perros', 'Mario Vargas Llosa')] 
nueva_lista =[(titulo, autor.split()[-1]) for titulo, autor in lista_libros]
nueva_lista

[('El aleph', 'Borges'),
 ('Cien años de soledad', 'Márquez'),
 ('La ciudad y los perros', 'Llosa')]

Una compañía tiene dos bases de datos de clientes. La primera base de datos contiene 
el nombre del cliente, la dirección de correo electrónico y el número de teléfono. La 
segunda base de datos contiene el nombre del cliente, la dirección y el historial de 
pedidos. Escribe un programa que tome las dos bases de datos como listas de tuplas y 
devuelva una nueva lista de tuplas que contenga solo los clientes que aparecen en 
ambas bases de datos. Los clientes se consideran iguales si tienen el mismo nombre.
 Pista: Tus datos de entrada podrían ser así  —>   
base_datos1 = [("Juan", "juan@example.com", "555-1234"), ("Maria", 
"maria@example.com", "555-5678"), ("Pedro", "pedro@example.com", “555-9012")] 
base_datos2 = [("Juan", "Calle 123", ["Libro1", "Libro2"]), ("Maria", "Calle 456", ["Libro3"]), 
("Luis", "Calle 789", ["Libro4"])]

In [8]:
base_datos1 = [("Juan", "juan@example.com", "555-1234"), ("Maria", 
"maria@example.com", "555-5678"), ("Pedro", "pedro@example.com", '555-9012')] 
base_datos2 = [("Juan", "Calle 123", ["Libro1", "Libro2"]), ("Maria", "Calle 456", ["Libro3"]), 
("Luis", "Calle 789", ["Libro4"])]
base_datos_completa = []
for user1,emailAddress,phone in base_datos1:
    for user2,address,books in base_datos2:
        if user1==user2:
            base_datos_completa.append((user1,emailAddress,phone,address,books))
base_datos_completa

[('Juan', 'juan@example.com', '555-1234', 'Calle 123', ['Libro1', 'Libro2']),
 ('Maria', 'maria@example.com', '555-5678', 'Calle 456', ['Libro3'])]